<div class="col-md-3">
    <a href="/dashboard"><button class="btn btn-outline-info form-control mt-2">Password Management</button></a>
    <a href="/add"><button class="btn btn-outline-info form-control mt-2">New Entry Management</button></a>
    <a href="/Out"><button class="btn btn-outline-info form-control mt-2">Out Management</button></a>
</div>